[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/drupalvim"]
	path = bundle/drupalvim
	url = https://git.drupal.org/project/vimrc.git
[submodule "bundle/tlib_vim"]
    path = bundle/tlib_vim
    url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
    path = bundle/vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-colors-solarized"]
    path = bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-snipmate"]
    path = bundle/vim-snipmate
    url = https://github.com/garbas/vim-snipmate
[submodule "bundle/vim-snippets"]
    path = bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
[submodule "bundle/c_vim"]
	path = bundle/c_vim
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/vim-independence"]
	path = bundle/vim-independence
	url = git://github.com/AD7six/vim-independence.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
